<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

	<form th:action="@{/matriculas/matricular}" th:object="${matriculaDTO}" th:method="POST">

		<table class="table table-dark">
			<tr>
				<td><label>Cédula: </label></td>
				<td><input type="text" th:field="${matriculaDTO.cedula}"> </td>
			</tr>
			<tr>
				<td><label>Código 1: </label></td>
				<td><input type="text" th:field="${matriculaDTO.codigo1}"> </td>
			</tr>
			<tr>
				<td><label>Código 2: </label></td>
				<td><input type="text" th:field="${matriculaDTO.codigo2}"> </td>
			</tr>
			<tr>
				<td><label>Código 3:</label></td>
				<td><input type="text" th:field="${matriculaDTO.codigo3}"> </td>
			</tr>
			<tr>
				<td><label>Código 4: </label></td>
				<td><input type="text" th:field="${matriculaDTO.codigo4}"> </td>
			</tr>

		</table>

		<input type="submit" value="Guardar" class="btn btn-danger">

		<input type="button" value="Volver" class="btn btn-danger" onclick="goToPage('/matriculas/buscarTodos')">
		
	</form>
	
	<script>
		function goToPage(url) {
			window.location.href = url;
		}
	</script>
</body>

</html>